main>section>a {
	position: absolute;
	top: 72vh;
	left: 5vw;
}

main>section>a>img {
	width: 5vw;
	height: 5vw;
}

main>section>div:first-of-type {
	padding-left: 10vw;
	padding-right: 10vw;
}

main>section>div:last-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 14vw;
}

main>section>div>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main>section>div>div>a>img {
	width: 38vw;
	height: 56vh;
	margin-bottom: 9vh;
	object-fit: cover;
}

main>section>div>div>div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27vw;
	min-height: 13vh;
	border-radius: 30px;
	margin-bottom: 10vh;
	background-color: #f6d6e0;
}

main>section>div>div>div>p {
	font-size: 36px;
}