@font-face {
	font-family: 'determination';
	src: url(../font/DeterminationSansWebRegular-369X.ttf);
}

* {
	padding: unset;
	margin: unset;
	font-family: 'determination';
}

a {
	color: #000;
	text-decoration: none;
}

body {
	background-color: #ffecf9;
}

#gallery>img {
	display: none;
}

#gallery>img:first-child {
	display: inline;
}

header>img {
	border-radius: unset;
	width: 100vw;
	aspect-ratio: initial;
}

header>nav {
	width: 70vw;
	height: 6.5vh;
	padding-left: 15vw;
	padding-right: 15vw;
	padding-top: 1.5vh;
	background-color: #f5defc;
	display: flex;
	justify-content: space-between;
}

header>nav>p {
	font-size: 20px;
}

main>section {
	margin: 5vw;
	margin-top: 14vh;
	margin-bottom: unset;
	width: 90vw;
	display: flex;
	flex-direction: column;
}

main>section>div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	background-color: #f6d6e0;
	min-width: 27vw;
	min-height: 13vh;
	border-radius: 30px;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-bottom: 17vh;
}

main>section>div:first-of-type>p {
	font-size: 36px;
}

img {
	border-radius: 30px;
	object-fit: cover;
}

.domain_div {
	display: grid;
	gap: 1vw;
	row-gap: 1vw;
	grid-template-columns: 1fr 1fr;
}

.domain {
	width: 44.5vw;
	height: 40vh;
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.domain:hover {
	box-shadow: 14px 14px 10px rgba(0, 0, 0, 0.25);
}

.domain_div>a {
	font-size: 36px;
}

.domain_color_1 {
	background-color: #7870ff;
}

.domain_color_2 {
	background-color: #ff8ada;
}

.domain_color_3 {
	background-color: #d3c5e8;
}

.domain_color_4 {
	background-color: #e58aa6;
}

.domain_color_5 {
	background-color: #f3d8fc;
}

.domain_color_6 {
	background-color: #e2e0ff;
}

#footer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #f6d6e0;
	height: 34vh;
	margin-top: 13vh;
}

#footer>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer>div>p {
	font-size: 20px;
}

#footer>div>p:last-child {
	font-size: 36px;
}

#footer>div:last-child>p {
	font-family: sans-serif;
	font-size: 14px;
}